<div class="container">
    <div class="nav">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
        <p-confirmDialog appendTo="body"></p-confirmDialog>
      <p-table class="custom-p-table col-11"
               [tableStyle]="{ 'min-width': '50rem'}"
               styleClass="p-datatable-striped"
               [paginator]="true"
               [rows]="5"
               [value]="filteredShippers">
        <ng-template pTemplate="caption" class="table">
          <div class="table-header">
            <h1 class="table-title">Lista de repartidores</h1>
            <div class="search-bar">
              <input type="text" 
                     pInputText 
                     placeholder="Buscar..." 
                     [(ngModel)]="searchTerm" 
                     (ngModelChange)="filterShippers()" />
              <i class="pi pi-search search-icon"></i>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width:25%">Name</th>
            <th style="width:30%">Email</th>
            <th style="width:20%">Rol</th>
            <th style="width:25%">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shipper>
          <tr>
            <td>{{shipper.user.name}}</td>
            <td>{{shipper.user.email}}</td>
            <td>{{shipper.user.role.name}}</td>
            <td>
              <button pButton type="button" label="Delete" icon="pi pi-trash" class="p-button p-button-danger"
                      (click)="confirm($event, shipper)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  