<div class="sidebar">
    <div class="first-element">
        <div class="icon">
            <i class="pi pi-user"></i>
        </div>
        <h5>{{user.username}}</h5>
    </div>
    <div class="second-element">
        @for(item of filteredItems; track item.label){
        <div class="se-icons" (click)="toggleMenu(item)">
            @if(!item.submenu){
            <div class="item">
                <a routerLink="/">
                    <i class="{{item.icon}}"></i>
                    <p>{{item.label}}</p>
                </a>
            </div>
            }@else{
            <div class="item">
                <i class="{{item.icon}}"></i>
                <p>{{item.label}}</p>
            </div>
            }
            @if(item.submenu && item.submenu.length > 0 && item.activeSubmenu){
            <div class="options-container" [ngClass]="item.activeSubmenu ? 'options-container-active':''">
                @for(subitem of item.submenu; track subitem.label){
                <a [routerLink]="subitem.route"><div>{{subitem.label}}</div></a>
                }
            </div>
            }
        </div>
        }

    </div>
    <div class="third-element">
        <div class="third-icon" (click)="toggleMenuShops()">
            <i class="pi pi-cog" style="font-size: 2rem; color: #ffffff;"></i>
        </div>
        <div class="menu" [ngClass]="activeShopOptions ? 'menu-show':''">
            <ul>
                @for(item of shops; track item.id){
                <li (click)="selectShop(item)">{{item.name}}</li>
                }
            </ul>
        </div>
    </div>
</div>

<!-- @for(item of shops; track item.id){
    <div class="shops-item">
        <div>{{item.name}}</div>
    </div>
    } -->