<div class="sidebar">
    <div class="first-element">
        <div class="icon">
            <i class="pi pi-user"></i>
        </div>
        <h5>Nombre de usuario</h5>
    </div>
    <div class="second-element">
        @for(item of items; track item.label){
        <div class="se-icons" (click)="toggleMenu(item)">
            <i class="{{item.icon}}"></i>
            <p>{{item.label}}</p>
            @if(item.submenu && item.submenu.length > 0 && item.activeSubmenu){
            <div class="options-container" [ngClass]="item.activeSubmenu ? 'options-container-active':''">
                <div> <a href="">My link</a></div>
                <div><a href="">My link 2</a></div>
            </div>
            }
        </div>
        }

    </div>
    <div>
    </div>
</div>