<div class="sidebar">
    <div class="first-element">
        <div class="icon">
            <i class="pi pi-user"></i>
        </div>
        <h5>Nombre de usuario</h5>
    </div>
    <div class="second-element">
        <div class="se-icons">
            <i class="pi pi-shop"></i>
            <p>Tiendas</p>
        </div>
        <div class="se-icons">
            <i id="icons" class="pi pi-users"></i>
            <p>Empleados</p>
        </div>
        <div class="se-icons">
            <i class="pi pi-truck"></i>
            <p>Proveedores</p>
        </div>
        <div class="se-icons">
            <i class="pi pi-list-check"></i>
            <p>Productos</p>
        </div>
        <div class="se-icons">
        <i class="pi pi-credit-card"></i>
        <p>Punto de venta</p>
        </div>
    </div>
    <div>
    </div>
</div>
