<!-- 
<div class="container">
    <div class="nav">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
        <p-table [value]="employes" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Unidades</th>
                    <th>Acción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employe>
                <tr>
                    <td>{{employe.name}}</td>
                    <td>{{employe.price}}</td>
                    <td>{{employe.unit}}</td>
                    <td><p-button label="Delete" icon="pi pi-trash" /></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

 -->

 <div class="container">
    <div class="nav">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
        <p-card header="Lista de Empleados" [style]="{ width: '900px' }">
            <ng-template pTemplate="header">
            </ng-template>
            
            <p-listbox [options]="employes" optionLabel="name" [filter]="true" [style]="{ width: '40rem' }"
                [listStyle]="{'max-height': '220px'}" />
            <ng-template pTemplate="footer">
                
            </ng-template>
            <p-table [value]="employes" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre:</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employes>
                    <tr>
                        <td>{{employes.name}}</td>
                        <td>{{employes.email}}</td>
                        <td>{{employes.password}}</td>
                        <td><p-button label="Delete" icon="pi pi-trash" /></td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>