<div class="container">
    <div class="nav">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
        <p-table class="col-11" 
            [tableStyle]="{ 'min-width': '50rem'}" 
            styleClass="p-datatable-striped"
            [paginator]="true" 
            [rows]="7" 
            [value]="filteredEmployees">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <h2 class="table-title">Lista de empleados</h2>
                    <div class="search-bar">
                        <input type="text" 
                            pInputText placeholder="Buscar..." 
                            [(ngModel)]="searchTerm"
                            />
                        <i class="pi pi-search search-icon"></i>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:33%">Name</th>
                    <th style="width:34%">Email</th>
                    <th style="width:33%">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
                <tr>
                    <td>{{employee.user.name}}</td>
                    <td>{{employee.user.email}}</td>
                    <td><p-button label="Delete" severity="danger" size="small" icon="pi pi-trash" (onClick)="deleteEmployee(employee)" /></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>