.container {
  display: flex;
}

.nav {
  width: 100px;
}

.main {
  padding-top: 20px;
  padding-left: 35px;
  display: flex;
  margin: 15px;
  width: 100%;
  justify-content: center;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-title {
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  margin-left: 5px;
  cursor: pointer;
}
