<div class="container">
    <div class="nav">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
      <p-table
        class="custom-p-table"
        class="col-11"
        [tableStyle]="{ 'min-width': '50rem'}"
        styleClass="p-datatable-striped"
        [paginator]="true"
        [rows]="5"
        [value]="filteredUsers"
      >
        <ng-template pTemplate="caption" clas="table">
          <div class="table-header">
            <h1 class="table-title">Lista de administradores</h1>
            <div class="search-bar">
              <input type="text" 
                pInputText 
                placeholder="Buscar..." 
                [(ngModel)]="searchTerm" 
                />
              <i class="pi pi-search search-icon"></i>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width:33%">Name</th>
            <th style="width:34%">Email</th>
            <th style="width:33%">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><p-button label="Eliminar" severity="danger" size="small" icon="pi pi-trash" (onClick)="deleteUser(user)"/>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
