<div class="container">
  <div class="nav">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="main">
    <div class="container center-container">
      <div class="main center-main">
        <!-- Imagen -->
        <div class="image-container">
          <p-image src="/assets/images/empleados.png" [preview]="true" alt="Image" class="empleado-image" width="500">
            <ng-template pTemplate="indicator">
              <i class="pi pi-check"></i>
            </ng-template>
          </p-image>
        </div>

        <p-card [style]="{ width: '450px', height: '550px' }" class="my-card">
          <h1>Registro de empleados</h1>

          <div class="form-container">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
              <div class="flex flex-column gap-2">
                <label for="name" class="label">Nombre: </label>
                <input pInputText id="name" aria-describedby="username-help" formControlName="name" class="input" />
                <small id="username-help" class="small-text">Ingrese su nombre y apellido</small><br>
                <div *ngIf="nameField.errors && nameField.touched">
                  <span *ngIf="nameField.errors['minlength']" class="error-text">El campo debe contener 5 caracteres o
                    más</span>
                  <span *ngIf="nameField.errors['required']" class="error-text">El campo es requerido</span>
                </div>
              </div>

              <div class="flex flex-column gap-2">
                <label for="email" class="label">Email: </label>
                <input pInputText id="email" aria-describedby="username-help" formControlName="email" class="input" />
                <small id="username-help" class="small-text">Ingrese su correo electrónico</small>
                <div *ngIf="emailField.errors && emailField.touched">
                  <span *ngIf="emailField.errors['email']" class="error-text">El campo debe contener un correo
                    electrónico válido</span>
                  <span *ngIf="emailField.errors['required']" class="error-text">El campo es requerido</span>
                </div>
              </div><br>

              <label for="password" class="label">Password: </label>
              <p-floatLabel>
                <p-password formControlName="password" [feedback]="false" class="my-password" />
                <label for="password" class="input-label"></label>
              </p-floatLabel>
              <small id="username-help" class="small-text">Ingrese una contraseña segura</small>
              <div *ngIf="passwordField.errors && passwordField.touched">
                <span *ngIf="passwordField.errors['pattern']" class="error-text">El campo debe contener números y
                  letras</span>
                <span *ngIf="passwordField.errors['required']" class="error-text">El campo es requerido</span>
              </div><br>

              <div class="flex flex-column gap-2">
                <label for="role" class="label">Rol: </label>
                <p-dropdown [options]="roles" placeholder="Seleccione un rol" class="my-rol"></p-dropdown>
                <small id="role-help" class="small-text">Seleccione el rol del usuario</small>
                <div *ngIf="roleField.errors && roleField.touched">
                  <span *ngIf="roleField.errors['required']" class="error-text">El campo es requerido</span>
                </div>
              </div><br>

              <!-- <p-button label="Submit" type="onSubmit" [rounded]="true" [outlined]="true" severity="success"
                [text]="true" /> -->
              <p-button label="Guardar" type="onSubmit" [rounded]="true" severity="success" />
            </form>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>