body{
  background-image: url("/assets/images/background.png");
  background-size: cover;
}

.container {
    display: flex;
  }
  
  .nav {
    width: 80px;
  }
  .main {
    padding-top: px;
    padding-left: 30px;
    display: flex;
    margin: 15px;
    width: 100%;
    justify-content: space-between;
  }

  .my-password{
  width: 1200px;
  }

  .my-password .p-component{
  width: 100%;
  height: 40px;
  }

  .my-password .p-icon{
    position: relative;
    bottom: 8px;
  }

  .my-rol .p-component{
    width: 100%;
  }
    