<div class="container">
  <div class="nav">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="main">
    <div class="left-main">
      <div class="details">

      </div>
    </div>
    <div class="right-main">
      <div class="actions">
        <button class="buttons"> Nueva Orden </button>
        <button class="buttons" (click)="showDialog()"> Agregar Cliente</button>
        <p-dialog header="Agregar cliente" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '55rem' }">
          <div class="body-modal">
            <div class="customer-form">
              <form [formGroup]="customerForm">
                <div class="form-input">
                  <label for="identification">Número de identificación:</label>
                  <input pInputText pKeyFilter="int" formControlName="identification"/>
                </div>
                <div class="form-input">
                  <label for="name">Nombre:</label>
                  <input 
                      pInputText 
                      id="name" 
                      formControlName="name"
                      />
                </div>
                <div class="form-input">
                  <label for="email">Correo:</label>
                  <input 
                      pInputText 
                      id="email" 
                      formControlName="email"
                      />
                </div>
                <div class="form-input">
                  <label for="phone">Número de contacto:</label>
                  <input pInputText pKeyFilter="int" formControlName="phone"/>
                </div>
                <div class="form-input">
                  <label for="address">Dirección</label>
                  <input 
                      pInputText 
                      id="address" 
                      formControlName="address"
                      />
                </div>
                <div class="flex justify-content-center gap-2">
                  <p-button label="Cancelar" severity="secondary" [rounded]="true" (click)="dialogVisible = false" />
                  <p-button label="Guardar" severity="primary" [rounded]="true" (click)="dialogVisible=false" />
                </div>
              </form>
            </div>
            <div>

            </div>
          </div>
        
        </p-dialog>
        <button class="buttons"> Cancelar </button>
        <button class="buttons"> Proceder con el Pago </button>
      </div>
    </div>
  </div>
</div>