.container {
  display: flex;
  align-items: center;
  background: linear-gradient(110deg, rgb(191, 192, 114), rgb(206, 224, 164));
  
}


  .form-title {
    color: #050505;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
}

.main {
  
  display: flex; 
  justify-content: center; 
  width: 600px;
}

.supplier-form {
  box-shadow: 0 5px 23px rgb(47, 46, 48);
  border-radius: 10px;

  .form { 
    padding: 20px;
  }

  .field {
    margin-bottom: 15px;

  .label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    }

    input {
      width: 100%;
      padding: 13px;
      border: 1px solid #000000;
      border-radius: 10px;
      border: 2px solid #000000;

      &:focus {
        outline: none;
        border: 2px solid #0f0f0f;
      }
      
    }
  }
}
