<div class="container">    
    <div class="nav">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
      <div class="supplier-form">
        <form [formGroup]="supplier">
          <div class="flex flex-column gap-2">
            <label for="name" class="form-label">Nombre:</label>
            <input 
              pInputText 
              id="name" 
              aria-describedby="username-help" 
              formControlName="name"
              class="form-input" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="phone" class="form-label">Celular:</label>
            <input 
              pInputText 
              id="phone" 
              aria-describedby="phone" 
              formControlName="phone"
              class="form-input" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input 
              pInputText 
              id="email" 
              aria-describedby="email" 
              formControlName="email"
              class="form-input" />
          </div>
          <br>
          <p-button (onClick)="onSubmit()" icon="pi pi-users" type="submit" label="Enviar" [raised]="true" severity="contrast" />
        </form>
      </div>
    </div>
  </div>
  