<div class="register-container">
    <p-card [style]="{ width: '800px' }" class="my-card"
    >

        <div style="display: flex; justify-content: space-between; align-items: flex-start;">

            <!-- Imagen -->
            <div style="width: 40%; text-align: center;">
                <img alt="Card" src="https://cdn-icons-png.flaticon.com/512/3534/3534139.png"
                    style="max-width: 100%; height: auto; border-radius: 20px;">
            </div>

            <!-- Formulario -->
            <div style="width: 55%; text-align: center;" class="my-input">
                <form [formGroup]="form" (ngSubmit)="onSubmit()"
                    style="width: 100%">
                    <div class="flex flex-column gap-2">
                        <label for="name" class="font-bold block mb-2" style="color: rgb(0, 0, 0);">Nombre: </label>
                        <input pInputText id="name" aria-describedby="username-help" formControlName="name" placeholder="Ingrese su nombre y apellido"/>
                        <div *ngIf="nameField.errors && nameField.touched">
                            <span *ngIf="nameField.errors['minlength']" style="color: red;">El campo debe contener 5
                                caracteres o más</span>
                            <span *ngIf="nameField.errors['required']" style="color: red;">El campo es requerido</span>
                        </div>
                    </div><br>

                    <div class="flex flex-column gap-2">
                        <label for="email" class="font-bold block mb-2" style="color: rgb(0, 0, 0);">Email: </label>
                        <input pInputText id="email" aria-describedby="username-help" formControlName="email" placeholder="Ingrese su correo electrónico" />
                        <div *ngIf="emailField.errors && emailField.touched">
                            <span *ngIf="emailField.errors['email']" style="color: red;">El campo debe contener un
                                correo electrónico válido</span>
                            <span *ngIf="emailField.errors['required']" style="color: red;">El campo es requerido</span>
                        </div>
                    </div><br>

                    <div class="p-field">
                        <label for="password" class="font-bold block mb-2" style="color: rgb(37, 37, 37);"> Contraseña: </label>
                        <br>
                        <p-password [toggleMask]="true" formControlName="password" name="password" placeholder="Ingrese una contraseña" required
                            class="my-password" [style]="{ width: '100%' }">
                            <ng-template pTemplate="footer">
                                <p class="mt-2">Debe contener</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5;">
                                    <li>Al menos una minúscula</li>
                                    <li>Al menos una mayúscula</li>
                                    <li>Al menos un número</li>
                                    <li>Mínimo 8 caracteres</li>
                                </ul>
                            </ng-template>
                        </p-password>
                    </div>
                    <br>

                    <div class="flex flex-column gap-2">
                        <label for="role" class="font-bold block mb-2" style="color: rgb(0, 0, 0);"> Rol: </label>
                        <p-dropdown [options]="roles" placeholder="Seleccione un rol"
                          class="my-rol"></p-dropdown>
                        <!-- <div *ngIf="roleField.errors && roleField.touched">
                          <span *ngIf="roleField.errors['required']" style="color: red;">El campo es requerido</span>
                        </div> -->
                      </div><br>
                      
                    <div class="p-field">
<!--                         <button pButton type="submit" label="Registrarse"></button>
 -->                        <p-button label="Submit" type="onSubmit" />
                        <!-- button pButton type="submit" label="Registrarse" (Click)="onSubmit()"></button> -->
                    </div>
                </form>
            </div>

        </div>

    </p-card>
<p-toast></p-toast>
</div>