<div class="container">    
  <div class="nav">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="main">
    <div class="product-form">
      <p-card styleClass="form" class="flex justify-content-center" [style]="{ width: '450px' }">
        <h2 class="form-title">Registro de Productos</h2>
      <form [formGroup]="product">
        <div class="field">
          <label for="name" class="block" >Nombre</label>
          <input
          type="text"
          pInputText
          placeholder="Nombre"
          formControlName="name"/>
          @if(nameField.errors){
            @if (nameField.errors['required'] && nameField.touched){
              <small style="color: red;">El campo nombre es requerido</small>
            }
            @if (nameField.errors['minlength']){
              <small class="alert-validation" style="color: red;">Minimo de letras es 4</small>
            }
          }
        </div>
        <div class="field">
          <label for="unit" class="block">Unidad</label>
          <input
          type="number"
          pInputText
          placeholder="Unidad"
          formControlName="unit"/>
          @if(unitField.errors){
            @if (unitField.errors['required'] && unitField.touched){
              <small style="color: red;">El campo teléfono es requerido</small>
            }
            @if (unitField.errors['minlength']){
              <small class="alert-validation" style="color: red;">Minimo de unidad es 1</small>
            }
            }
        </div>
        <div class="field">
          <label for="price" class="block">Precio</label>
          <input
          type="number"
          pInputText
          placeholder="Precio"
          formControlName="price"/>
          @if(priceField.errors){
            @if (priceField.errors['required'] && priceField.touched){
              <small style="color: red;">El campo es requerido</small>
            }
            }
        </div>
        <div class="field">
          <label for="cost" class="block">Costo:</label>
          <input
          type="number"
          pInputText
          placeholder="costo"
          formControlName="cost"/>
          @if(costField.errors){
            @if (costField.errors['required'] && costField.touched){
              <small style="color: red;">El campo id es requerido</small>
            }
            }
        </div>
        <div class="field">
          <label for="idShops" class="block">Id:</label>
          <input
          type="text"
          pInputText
          placeholder="Id"
          formControlName="idShops"/>
          @if(costField.errors){
            @if (costField.errors['required'] && costField.touched){
              <small style="color: red;">El campo id es requerido</small>
            }
            }
        </div>
        <div class="d-grid gap-2 ">
        <p-button (onClick)="onSubmit()" size="small" label="Enviar" [raised]="true" severity="contrast"/>
        </div>
      </form>
    </p-card>
    </div>
  </div>
  <div class="card flex justify-content-center">
    <p-image 
        src="https://th.bing.com/th/id/OIG4.TuJ7ur4WrMGygCcyYrqb?pid=ImgGn"
        alt="Image" 
        width="520"
        height="520"
        [preview]="true" />
</div>
</div>
