<div class="container">    
  <div class="nav">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="main">
    <div class="shop-form">
      <p-card styleClass="form" class="flex justify-content-center" [style]="{ width: '450px' }">
        <h2 class="form-title">Registro de Tiendas</h2>
      <form [formGroup]="shop"> 
        <div class="field">
          <label for="name" class="block" >Nombre</label>
          <input
          type="text"
          pInputText
          placeholder="Nombre"
          formControlName="name"/>
          @if(nameField.errors){
            @if (nameField.errors['required'] && nameField.touched){
              <small style="color: red;">El campo nombre es requerido</small>
            }
            @if (nameField.errors['minlength']){
              <small class="alert-validation" style="color: red;">Minimo de letras es 4</small>
            }
          }
        </div>
        <div class="field">
          <label for="ruc" class="block">Ruc:</label>
          <input
          type="text"
          pInputText
          placeholder="Ruc"
          formControlName="ruc"/>
          @if(rucField.errors){
            @if (rucField.errors['required'] && rucField.touched){
              <small style="color: red;">El campo ruc es requerido</small>
            }
            @if (rucField.errors['minlength']){
              <small class="alert-validation" style="color: red;">Minimo de unidad es 1</small>
            }
            }
        </div>
        <div class="field">
          <label for="address" class="block">Dirección:</label>
          <input
          type="text"
          pInputText
          placeholder="Dirección"
          formControlName="address"/>
          @if(addressField.errors){
            @if (addressField.errors['required'] && addressField.touched){
              <small style="color: red;">El campo dirección es requerido</small>
            }
            }
        </div>
        <div class="field">
          <label for="phone" class="block">Telefóno:</label>
          <input
          type="text"
          pInputText
          placeholder="Telefóno"
          formControlName="phone"/>
          @if(phoneField.errors){
            @if (phoneField.errors['required'] && phoneField.touched){
              <small style="color: red;">El campo telefóno es requerido</small>
            }
            }
        </div>
        <div class="field">
          <label for="email" class="block">Coreo Electrónico:</label>
          <input
          type="email"
          pInputText
          placeholder="Correo Electrónico"
          formControlName="email"/>
          @if(emailField.errors){
            @if (emailField.errors['required'] && emailField.touched){
              <small style="color: red;">El campo correo electrónico es requerido</small>
            }
            }
        </div>
        <br>
        <div class="d-grid gap-2 ">
        <p-button (click)="onSubmit()" type="submit" size="small" label="Enviar" [raised]="true" severity="contrast"/>
        </div>
      </form>
    </p-card>
    </div>
  </div>
  <div class="card flex justify-content-center">
    <p-image 
        src="https://th.bing.com/th/id/OIG3._lh.b0kKOWl077RMJZCj?pid=ImgGn"
        alt="Image" 
        width="520"
        height="520"
        [preview]="true" />
</div>
</div>
