<div class="container">
    <div class="nav">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
      <div class="flex-container flex flex-wrap">
        <p-card header="Informacion" subheader="Proveedor" [style]="{ width: '300px' }">
          <ng-template pTemplate="footer">
            <div class="flex flex-column gap-2">
              <label for="username">Nombre:</label>
              <input
                pInputText
                [disabled]="true"
                id="username"
                aria-describedby="username-help"
                class="input"
              />
              <small id="username-help">Nombre del proveedor</small>
            </div>
            <br>
            <div class="flex flex-column gap-2">
              <label for="username">Correo:</label>
              <input
                pInputText
                [disabled]="true"
                id="username"
                aria-describedby="username-help"
                class="input"
              />
              <small id="username-help">Correo del proveedor</small>
            </div>
            <br>
          </ng-template>
        </p-card>
        <p-image src="/assets/images/empleado_image.png" alt="Image" width="250" [preview]="true" />
      </div>
    </div>
  </div>
  