body {
  background-color: rgb(221, 219, 219);
  background-size: cover;
}

.container {
  display: flex;
}

.nav {
  width: 100px;
}

.main {
  padding-top: 25px;
  padding-left: 35px;
  display: flex;
  margin: 15px;
  width: 100%;
  justify-content: center;
}


.my-card {
  border-radius: 20px;
  border-color: black;
}

::placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

.bold-label {
  font-weight: bold;
  color: black;
}

.black-text {
  color: black;
}