<div class="container">
    <div class="nav">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
      <div class="container col-11" style="display: flex; justify-content: center; align-items: center;">
        <div class="main" style="display: flex; justify-content: center; align-items: center;">
          <p-card [style]="{ width: '900px' }" class="my-card"> 
            <ng-template pTemplate="header">
              <br>
              <div style="text-align: center; width: 100%; font-weight: bold; font-size: 2rem; color: rgb(0, 0, 0);">
                Registro del repartidor
              </div>
            </ng-template>
  
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
              <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container">
                <div class="flex flex-column gap-2">
                  <label for="name" class="label">Nombre:</label>
                  <input placeholder="Ingrese su nombre y apellido" pInputText id="name" aria-describedby="username-help" formControlName="name" class="input"/>
                  <div *ngIf="nameField.errors && nameField.touched" class="error-message">
                    <span *ngIf="nameField.errors['minlength']">El campo debe contener 5 caracteres o más</span>
                    <span *ngIf="nameField.errors['required']">El campo es requerido</span>
                  </div>
                </div><br>
  
                <div class="flex flex-column gap-2">
                  <label for="email" class="label">Email:</label>
                  <input placeholder="Ingrese su correo electrónico" pInputText id="email" aria-describedby="username-help" formControlName="email" class="input"/>
                  <div *ngIf="emailField.errors && emailField.touched" class="error-message">
                    <span *ngIf="emailField.errors['email']">El campo debe contener un correo electrónico válido</span>
                    <span *ngIf="emailField.errors['required']">El campo es requerido</span>
                  </div>
                </div><br>
  
                <label for="password" class="label">Contraseña:</label>
                <br><br>
                    <p-password formControlName="password" [feedback]="false" [toggleMask]="true"   class="my-password" placeholder="Ingrese su contraseña">
                    </p-password>
                    <div *ngIf="passwordField.errors && passwordField.touched" class="error-message">
                    <span *ngIf="passwordField.errors['pattern']">El campo debe contener números y letras</span>
                    <span *ngIf="passwordField.errors['required']">El campo es requerido</span>
                </div>
                <br><br>

                <div class="flex flex-column gap-2">
                  <label for="role" class="label">Rol:</label>
                  <p-dropdown [options]="roles" placeholder="Seleccione un rol" class="my-rol dropdown"></p-dropdown>
                  <div *ngIf="roleField.errors && roleField.touched" class="error-message">
                    <span *ngIf="roleField.errors['required']">El campo es requerido</span>
                  </div>
                </div><br>
  
                <div style="display: flex; justify-content: center; margin-top: 10px;">
                  <p-button label="Crear repartidor" type="submit" styleClass="p-button-success" [rounded]="true" [outlined]="true" [text]="true"></p-button>
                </div>
              </form>
  
              <div class="image-container">
                <img src="/assets/images/Repartidor.jpeg" alt="Descripción de la imagen" class="image">
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
  