body{
    background-image: url("/assets/images/fondo2.jpg");
    background-size: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Asegúrate de que el contenedor ocupe el ancho completo */
}

.login-panel {
    width: 800px;
    /* Agrandar la tarjeta si es necesario */
}

.p-panel {
    padding: 2rem;
    /* Aumentar el padding interno de la tarjeta */
    text-align: center;
}

.p-field {
    margin-bottom: 1.5rem;
    /* Espaciado entre los campos del formulario */
}

button {
    width: 100%;
    margin-top: 1rem;
    /* Espaciado adicional debajo del formulario */
}

p-card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: calc(50% - 20px); /* Dos tarjetas en una fila con espacio entre ellas */
    box-sizing: border-box;
  }
  
  p-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

.my-password .p-component{
    width: 100%;
}

.my-card .p-component{
    background-color: rgba(0, 0, 0, 0.685);
}



